.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #eac9c1;
}

.BearAsciiArt {
  position: absolute;
  top: 5%;
  left: 7%;
  font-family: "Poppins", sans-serif !important;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.HouseAsciiArt {
  position: absolute;
  top: 70%;
  left: 80%;
  font-family: "Poppins", sans-serif !important;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.SciliAsciiArt {
  position: absolute;
  top: 7%;
  left: 74%;
  font-family: "Poppins", sans-serif !important;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.ShowerAsciiArt {
  position: absolute;
  top: 50%;
  left: 13%;
  font-family: "Poppins", sans-serif !important;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.LightbulbAsciiArt {
  position: absolute;
  top: 78%;
  left: 57%;
  font-family: "Poppins", sans-serif !important;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.ToiletAsciiArt {
  position: absolute;
  top: 50%;
  left: 70%;
  font-family: "Poppins", sans-serif !important;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.ChairAsciiArt {
  position: absolute;
  top: 42%;
  left: 80%;
  font-family: "Poppins", sans-serif !important;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.BedAsciiArt {
  position: absolute;
  top: 5%;
  left: 45%;
  font-family: "Poppins", sans-serif !important;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.SofaAsciiArt {
  position: absolute;
  top: 24%;
  left: 15%;
  font-family: "Poppins", sans-serif !important;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.header {
  font-family: monospace;
  font-size: 1.3rem;
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}

.MiscBox {
  display: none;
}

@media (min-width: 768px) {
  .MiscBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin-right: 2%;
    margin-left: 2%;
    height: 49rem;
    background-color: white;
    border: 2px solid black;
    gap: 2%;
    color: black;
    overflow-y: scroll;
  }
}
