.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #eac9c1;
}

.BearAsciiArt {
  position: absolute;
  top: 5%;
  left: 7%;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.HouseAsciiArt {
  position: absolute;
  top: 70%;
  left: 80%;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.SciliAsciiArt {
  position: absolute;
  top: 7%;
  left: 74%;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.ShowerAsciiArt {
  position: absolute;
  top: 50%;
  left: 13%;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.LightbulbAsciiArt {
  position: absolute;
  top: 78%;
  left: 57%;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.ToiletAsciiArt {
  position: absolute;
  top: 50%;
  left: 70%;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.ChairAsciiArt {
  position: absolute;
  top: 42%;
  left: 80%;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.BedAsciiArt {
  position: absolute;
  top: 5%;
  left: 45%;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.SofaAsciiArt {
  position: absolute;
  top: 24%;
  left: 15%;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.SkateboardAsciiArt {
  position: absolute;
  top: 80%;
  left: 35%;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.header {
  font-family: monospace;
  font-size: 1.3rem;
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}

.ascii {
  user-select: none;
}

@media screen and (max-width: 768px) {
  .BearAsciiArt {
    display: none;
  }
  .HouseAsciiArt {
    display: none;
  }
  .SciliAsciiArt {
    display: none;
  }
  .ShowerAsciiArt {
    display: none;
  }
  .LightbulbAsciiArt {
    display: none;
  }
  .ToiletAsciiArt {
    display: none;
  }
  .ChairAsciiArt {
    display: none;
  }
  .BedAsciiArt {
    display: none;
  }
  .SofaAsciiArt {
    display: none;
  }
  .SkateboardAsciiArt {
    display: none;
  }
}

.SignIn {
  padding: 1rem;
  border-radius: 10px;
  background-color: #562929;
  color: white;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.SignIn:hover {
  background-color: #860b0b;
  color: white;
  cursor: pointer;
}

.ProfilePicture {
  border-radius: 10px;
  color: white;
  width: 5rem;
  border: 2px solid black;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.textSignIn {
  display: none;
}

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    background-color: #eac9c1;
  }

  .title {
    padding-top: 1.2rem;
  }

  .ascii {
    display: none;
  }

  .textSignIn {
    display: flex;
    margin-top: 0.5rem;
    text-decoration: underline;
  }
}
