.BuildingReview {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  margin: 0 auto;
  width: 100%;
  height: fit-content;
  padding: 1.5rem 1.5rem 1.5rem 0.5rem;
  text-align: left;
}

.reviewSection {
  width: 90%;
}

.reviewHeader {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.BuildingReview + .BuildingReview {
  border-top: 2px solid black;
}

.UpvoteDownvote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  gap: 0.5rem;
}

.Upvote {
  font-size: 1.5rem;
}

.Downvote {
  font-size: 1.5rem;
}

.Upvote:hover {
  cursor: pointer;
  color: #d24e4e;
}

.Downvote:hover {
  cursor: pointer;
  color: #4e50d2;
}

.UpvoteDownvoteAndNumber {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  gap: 1rem;
}

@media (max-width: 768px) {
  .reviewSection {
    width: 85%;
  }

  .UpvoteDownvote {
    width: 30%;
  }

  .reviewHeader {
    font-size: 0.8rem;
    gap: 0.5rem;
  }

  .emoji {
    display: none;
  }
}
