.buildingContainer {
  /* margin-top: 2rem; */
  padding: 0rem 2rem;
  text-align: left;
  color: black;
}

.buildingHeader {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  padding: 0.5rem 0;
}

.logo {
  height: 5rem;
}

.logo:hover {
  cursor: pointer;
}

.buildingSlideshow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40vh;
  border: 2px solid black;
  border-radius: 10px;
}

.buildingImage {
  object-fit: cover;
  background-color: white;
  border: 2px solid black;
}

.buildingImage:hover {
  cursor: zoom-in;
  -webkit-filter: brightness(120%);
}

.summaryHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1rem; */
}

.addImage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #562929;
  padding: 0.4rem 1.3rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border-radius: 9px;
  text-align: left;
  margin: 0;
  cursor: pointer;
}

.buildingHeader {
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
  text-align: left;
  margin: 0;
}

.buildingContentContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.gridColOne {
  text-align: left;
  display: grid;
  grid-auto-rows: minmax(80px, auto);
}

.itemOne {
  grid-row: 1;
  margin-top: 10px;
  margin-bottom: -10px;
}

.itemTwo {
  grid-row: 2;
}

.itemThree {
  grid-row: 3/5;
}

.link {
  color: rgb(164, 45, 37);
}

.link:hover {
  cursor: pointer;
  color: rgb(61, 12, 9);
}

.itemFour {
  grid-row: 5;
}

.gridColTwo {
  margin-top: 10px;
  padding-left: 20px;
  text-align: center;
  overflow: hidden;
}

.scrollable {
  /* padding: 1rem; */
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  max-height: 37vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 900px) {
  .scrollable {
    max-height: 60vh;
    min-height: 400px;
  }
}

.sectionTitle {
  font-weight: 700;
  font-style: bold;
  font-size: 24px;
  text-align: left;
}

.sectionDivider {
  width: 100%;
  border-bottom: 1px solid #000000;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Reviews */
.reviewContainerEmptyState {
  text-align: left;
  padding: 1rem;
}

/* Media queries */
@media (max-width: 600px) {
  .buildingHeader {
    font-size: 2rem;
  }
  .buildingContentContainer {
    grid-template-columns: 1fr;
  }
  .sectionTitle {
    font-size: 18px;
  }
  .gridColTwo {
    padding-left: 0;
  }
  .itemThree {
    grid-row: 3;
  }

  .ReviewHeader {
    margin-bottom: 1rem;
  }
}

@media (max-width: 540px) {
  .buildingHeader {
    font-size: 1.2rem;
    gap: 1rem;
  }
}

.ReviewHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1rem; */
}

.addReview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #562929;
  padding: 0.4rem 1.3rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border-radius: 9px;
  text-align: left;
  margin: 0;
  cursor: pointer;
}
