.ListOfDorms {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 20rem;
  border: 2px solid black;
  border-radius: 10px;
  overflow-y: scroll;
  background-color: white;
}

@media (max-width: 768px) {
  .ListOfDorms {
    width: 96%;
    margin-left: 2%;
  }
}

.Dorm {
  background-color: white;
  display: flex;
  font-size: 1rem;
  color: black;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  border-bottom: 2px solid black;
  cursor: pointer;
}

.Dorm:hover {
  background-color: #e5e5e5;
  font-weight: 900;
}
