.ListOfDorms {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 20rem;
  border: 2px solid black;
  border-radius: 10px;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.Windows::-webkit-scrollbar-track {
  border-left: 1.3px solid #c4c4c4;
}

.Windows::-webkit-scrollbar {
  position: absolute;
  width: 8px;
}

.Windows::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #999999;
}

@media (max-width: 768px) {
  .ListOfDorms {
    width: 92vw;
    height: 76vh;
  }
}

.Dorm {
  background-color: white;
  display: flex;
  font-size: 1rem;
  color: black;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  border-bottom: 2px solid rgb(203, 203, 203);
  cursor: pointer;
}

.Dorm:hover {
  background-color: #f7f7f7;
  font-weight: 500;
}
