.Navbar {
  border-bottom: 6px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Name {
  font-size: 1.6rem;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
  font-weight: 800;
  border-right: 6px solid white;
}

.bear {
  color: #fadc72 !important;
}
